{%load static%}
<!DOCTYPE html>
<html lang="en">


<!-- profile.html  21 Nov 2019 03:49:30 GMT -->
<head>
 
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>My Curriculum Vitae</title>
    <link rel="stylesheet" href="{%static 'bundles/bootstrap-social/bootstrap-social.css'%}">
    <link rel="stylesheet" href="{% static 'bundles/summernote/summernote-bs4.css'%}">
    <!-- Template CSS -->
    <link href="{% static 'bundles/lightgallery/dist/css/lightgallery.css'%}" rel="stylesheet">
    <!-- General CSS Files -->
    <link rel="stylesheet" href="{%static 'css/app.min.css' %}">
    <link rel="stylesheet" href="{%static 'css/create.css' %}">
    <!-- Template CSS -->
    <link rel="stylesheet" href="{%static 'css/style.css' %}">
    <link rel="stylesheet" href="{%static 'css/components.css' %}">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="{%static 'css/custom.css' %}">
    <link rel='shortcut icon' type='image/x-icon' href="{%static 'img/favicon.ico'%}">
    <link rel="stylesheet" href="{% static 'bundles/bootstrap-social/bootstrap-social.css'%}">
    <link rel="stylesheet" href="{%static 'css/create.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    

   

</head>

{% include 'includes/navbar.html' %}

{% block content %}
<!-- content -->
{%endblock%}

<!-- footer -->
{% include 'includes/footer.html' %}
