
{% extends 'base.html'%}
{% load static%}
{% block content %}




<body>
<div class="loader"></div>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-body">
            <div class="row mt-sm-4">
              <div class="col-12 col-md-12 col-lg-4">
                <div class="card author-box">
                  <div class="card-body">
                    <div class="author-box-center">

                      {% for image in edit_profile %}
                      <img alt="image" src="{{image.image.url}}" class="rounded-circle author-box-picture" height="100" width="120">
                      {%endfor%}
                      
                      <div class="clearfix"></div>
                      <div class="author-box-name">
                        <br>
                      {%for name in edit_profile%}
                        <strong>
                        <font color="blue">{{name.full_name}}</font>
                      </strong>
                        
                      </div>
                      <div class="text-small font-weight-bold">{{name.short_bio}}</div>
                      <p class="text-small font-weight">
                        {{name.bio}}
                      </p>
                    </div>
                    <div class="text-center">
                     
                        
                      <div class="mb-2 mt-3">
                        <div class="text-small font-weight-bold">Follow {{name.firstname}} On</div>
                        {%endfor%}
                      </div>

                      <div class="social-links">
                        {% for link in social_links %}
                        
                            <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer">
                                <i class="fab fa-{{ link.icon_class }}" style="font-size:24px"></i></i></a>
                        {% endfor %}
                    </div>
                      <div class="w-100 d-sm-none"></div>
                </div>
              </div>
            </div>        
                
                <div class="card">
                  <div class="card-header bg-blue-grey">
                    <h4 class="nav-link"><font color="white">Personal Details</font></h4>
                  </div>
                  
                  <div class="card-body">
                    <div class="py-9">
                      <p class="clearfix">
                        <span class="float-left">
                          Birthday
                        </span>
                        {% for detail in details%}
                        <span class="float-right text-muted">
                          {{detail.date_of_birth}}
                        </span>
                        {%endfor%}
                      </p>
                      <p class="clearfix">
                        <span class="float-left">
                          Phone
                        </span>
                        {% for detail in details%}
                        <span class="float-right text-muted">
                          {{detail.phone_number}}
                        </span>
                        {%endfor%}
                      </p>
                      <p class="clearfix">
                        <span class="float-left">
                          Gender
                        </span>
                        {% for detail in details%}
                        <span class="float-right text-muted">
                          {{detail.gender}}
                        </span>
                        {%endfor%}
                      </p>
                      <p class="clearfix">
                        <span class="float-left">
                          Marital Status
                        </span>
                        {% for detail in details%}
                        <span class="float-right text-muted">
                          {{detail.marital_status}}
                        </span>
                        {%endfor%}
                      </p>
                      <p class="clearfix">
                        <span class="float-left">
                          State
                        </span>
                        {% for detail in details%}
                        <span class="float-right text-muted">
                          {{detail.state}}
                        </span>
                        {%endfor%}
                      </p>
                      <p class="clearfix">
                        <span class="float-left">
                          Nationality
                        </span>
                        {% for detail in details%}
                        <span class="float-right text-muted">
                          {{detail.natinality}}
                        </span>
                        {%endfor%}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header bg-blue-grey">
                    <h4 class="nav-link"><font color="white">Skills</font></h4>
                  </div>
                 
                  <div class="card-body">
                    <ul class="list-unstyled user-progress list-unstyled-border list-unstyled-noborder">
                      {% for x in skill%}                    
                      <li class="media">
                        <div class="media-body">
                          
                          <div class="media-title">{{x.skill}}</div>
                        </div>
                        <div class="media-progressbar p-t-10">
                          <div class="progress" data-height="6">
                            <div class="progress-bar bg-green" data-width="{{x.skill_percent}}%"></div>

                          </div>
                        </div> 
                      </li> 
                      {%endfor%}
                    </ul>        
                  </div>
                  
                  </div>
                  <div class="card">
                    <div class="card-header bg-blue-grey">
                      <h4 class="nav-link"><font color="white">Hobbies</font></h4>
                    </div>
                    <div class="card-body">
                      <ul>
                        {% for hob in hobby%}
                        <li> <div class="media-title">{{hob.hobbies}}</div></li>
                        {%endfor%}
                      </ul>
                    </div>
                  </dvi>
                </div>
              </div>
              
              
              <div class="col-12 col-md-12 col-lg-8">
                <div class="card">
                  <div class="padding-20">
                    <ul class="nav nav-tabs" id="myTab2" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="home-tab2" data-toggle="tab" href="#about" role="tab"
                          aria-selected="true">About</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="profile-tab2" data-toggle="tab" href="#settings" role="tab"
                          aria-selected="false">Setting</a>
                      </li>
                    </ul>
                    <div class="tab-content tab-bordered" id="myTab3Content">
                      <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="home-tab2">
                        <div class="row">
                          <div class="col-md-3 col-6 b-r">
                            <strong>Full Name</strong>
                            <br>
                            {%for name in edit_profile%}
                            <p class="text-muted">{{name.full_name}}</p>
                            {%endfor%}
                          </div>
                          <div class="col-md-3 col-6 b-r">
                            <strong>Mobile</strong>
                            <br>
                            {%for num in details%}
                            <p class="text-muted">{{num.phone_number}}</p>
                            {%endfor%}
                          </div>
                          <div class="col-md-3 col-6 b-r">
                            <strong>Email</strong>
                            <br>
                            {%for name in edit_profile%}
                            <p class="text-muted">{{name.email}}</p>
                            {%endfor%}
                          </div>
                          <div class="col-md-3 col-6">
                            <strong>Location</strong>
                            <br>
                            {%for name in edit_profile%}
                            <p class="text-muted">{{name.location}}</p>
                            {%endfor%}
                          </div>
                        </div>
                        {%for obj in edit_profile%}
                        <p class="m-t-30">
                        
                          {{obj.objective}}
                        </p>
                        {%endfor%}
                        <div class="section-title text-muted"><strong>EDUCATION</strong></div>
                        {%for education in edu_detail %}
                        <strong><font color="blue">{{education.education_year}}</font></strong>
                        <ul>
                          <li>{{education.education}}</li> 
                        </ul>
                        {%endfor%}

                        <div class="section-title text-muted"><strong> EXPERIENCE</strong></div>
                        {%for experience in exp_detail %}
                        <strong><font color="blue">{{experience.experience_year}}</font></strong>
                        <ul>
                          <li>{{experience.experience}}</li>
                        </ul>
                        {%endfor%}

                        <div class="section-title text-muted"><strong>LEADERSHIP ROLES</strong></div>
                        {%for leader in leaders %}
                        <strong><font color="blue">{{leader.title}}</font></strong>
                        <ul>
                          <li>{{leader.department}}</li>
                        </ul>
                        {%endfor%}

                        <div class="section-title text-muted"><strong> PROFESSIONAL MEMBERS AND CERTIFICATIONS </strong></div>
                        {%for prof in prof_member %}
                        <strong><font color="blue">{{prof.title}}</font></strong>
                        
                        <ul>
                          <li>{{prof.degree_certificate}}</li>
                        </ul>
                        {%endfor%}

                      </div>
                      <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="profile-tab2">
                        <form method="post" class="needs-validation">
                          <div class="card-header">
                            <h4>Edit Profile</h4>
                          </div>
                          <div class="card-body">
                            <div class="row">
                              <div class="form-group col-md-4 col-12">
                                <label>First Name</label>
                                {% for name in edit_profile %}
                                <input type="text" class="form-control" value="{{name.first_name}}" disabled>
                                {%endfor%}
                              </div>
                              <div class="form-group col-md-4 col-12">
                                <label>Middle Name</label>
                                {% for name in edit_profile %}
                                <input type="text" class="form-control" value="{{name.middle_name}}" disabled>
                                {%endfor%}
                              </div>
                              <div class="form-group col-md-4 col-12">
                                <label>Last Name</label>
                                {% for name in edit_profile %}
                                <input type="text" class="form-control" value="{{name.last_name}}" disabled>
                                {%endfor%}
                              </div>
                            </div>
                            <div class="row">
                              <div class="form-group col-md-4 col-12">
                                <label>Email</label>
                                {% for email in edit_profile %}
                                <input type="email" class="form-control" value="{{email.email}}" disabled>
                                {%endfor%}
                              </div>
                              <div class="form-group col-md-4 col-12">
                                <label>Phone</label>
                                {% for num in details %}
                                <input type="tel" class="form-control" value="{{num.phone_number}}" disabled>
                                {%endfor%}
                              </div>
                              <div class="form-group col-md-4 col-12">
                                <label>Phone</label>
                                {% for nation in details %}
                                <input type="tel" class="form-control" value="{{nation.natinality}}" disabled>
                                {%endfor%}
                              </div>
                            </div>
                            <div class="row">
                              <div class="form-group col-12">
                                <label>Bio</label>
                                {% for bio in edit_profile %}
                                <textarea
                                  class="form-control" disabled>{{bio.bio}}</textarea>
                                  {%endfor%}
                              </div>
                            </div>
                            <div class="row">
                              <div class="form-group mb-0 col-12">
                                
                              </div>
                            </div>
                          </div>
                          
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
       
</body>
</html>

{%endblock%}