/* .whatsapp {
    position: fixed;
    width: 45px;
    height: 45px;
    bottom: 70px;
    right: 45px;
    background-color: #10ba5f;
    color: #ffffff;
    border-radius: 50%;
    text-align: center;
    font-size: 28px;
    z-index: 100;
  } */
  .footercolor{
    color: rgb(8, 122, 34);
  }



  .social-links a {
    margin-right: 10px;
    color: #333;  /* Adjust color as needed */
    text-decoration: none;
    
}

.whatsapp {
  position: fixed;
  width: 45px;
  height: 45px;
  bottom: 80px;
  right: 60px;
  background-color: #0ce065;
  color: #f9f4f4;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  z-index: 100;
}
.navbarcolor {
  background-color: #0ce065;
}
