
{% extends 'base.html'%}
{% load static%}
{% block content %}
 

<!DOCTYPE html>
<html lang="en">


<!-- index.html  21 Nov 2019 03:44:50 GMT -->


<!-- Main Content -->
<div class="main-content">
  <section class="section">
      <div class="section-body">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="card">
              <div class="body">
                <div id="mail-nav">
                  <button type="button" class="btn btn-danger waves-effect btn-compose m-b-15">COMPOSE</button>                 
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            <div class="card">
              <div class="boxs mail_listing">
                <div class="inbox-center table-responsive">
                  <table class="table table-hover">
                    <thead class="bg-blue-grey">
                      <tr>
                        <th colspan="1">
                          <div class="nav-link ">
                            <font color="white"> Compose Message</font>
                          </div>
                        </th>
                      </tr>
                    </thead>
                  </table>
                </div>
                {% include 'includes/alerts.html' %}
                <div class="row">
                
                  < class="col-lg-12">

                     <form method="POST" action="{% url 'email_compose' %}" class="composeForm">
                      {% csrf_token %}
                      <div class="form-group">
                        <div class="form-line">
                          <input type="text" name="sender_name" class="form-control" placeholder="Full Name" required>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="form-line">
                          <input type="text" name="sender_email" class="form-control" placeholder="Email" required>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="form-line">
                          <input type="textarea" name="message"  class="form-control" placeholder="Message" required>
                        </div>
                      </div>
                      <button type="submit" class="btn btn-info btn-border-radius waves-effect">Send</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
</div>
{%endblock%}