

{% extends 'base.html'%}
{% load static%}
{% block content %}





<div class="main-content">
    <section class="section">
      <div class="row ">

        {% for portfolio in portfolio_detail %}
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="card">
            <div class="card-statistic-4">
              <div class="align-items-center justify-content-between">
                <div class="row ">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                    <div class="card-content">
                      <h5 class="font-15">{{portfolio.title}}</h5>
                      <p class="mb-0 text-muted">{{portfolio.description}}</p>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                    <div class="banner-img">
                      <img src="{{portfolio.image.url}}" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 
        {%endfor%}

    </div>
</div>
        
    

      {%endblock%}